/* Whole Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #ff0303;
}

ul li {
    list-style: none;
    display: inline-block;
}

.menubtn {
    display: none;
    font-size: 30px;
    margin-left: 10px;

}

/* Navigation Bar */

.menubar{
    background: #ADC4CE;
    height: 80px;
    width: 100%;
}

#menu{
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 80px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    background: #A1CCD1;
}

/* Home Page */

.home-btn {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    line-height: 30px;
    background: #FFCF96;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    padding: 5px;
    border-radius: 50px;
    border: 0;
    color: black;
}

.home-btn:hover {
    background: #82A0D8;
}

/* ABOUT ME */

#about-btn {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: #FFCF96;
    font-size: 18px;
    font-weight: bold;
    width: 370px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    color: black;
}

#about-btn:hover {
    background: #82A0D8;
}

#aboutText {
    display: block;
    margin: 0 auto;
    line-height: 33px;
    padding: 15px;
    background-color: #AEC3AE;
    text-align: center;
    width: 500px;
    border-radius: 30px;
}

/* EXPERIENCE PAGE */

#exp-btn {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: #FFCF96;
    font-size: 18px;
    font-weight: bold;
    width: 370px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    color: black;
}

#exp-btn:hover {
    background: #82A0D8;
}

/* MY PROJECTS */

#project-btn {
    display: block;
    margin: 40px auto;
    cursor: pointer;
    background: #FFCF96;
    font-size: 18px;
    font-weight: bold;
    width: 370px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    color: black;
}

#project-btn:hover {
    background: #82A0D8;
}

/* Feedback Form */

form input,
form textarea {
    display: block;
    margin: 0 auto;
    width: 500px;
    background: #DFCCFB;
    padding: 15px;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

#btn {
    display: block;
    margin: 0 auto;
    background: #FF8080;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
    color: black;
}

@media screen and (max-width: 650px) {

    /* FEEDBACK FORM */

    form input,
    form textarea {
        width: 250px;
    }

    /* NAVIGATION BAR */

    .nav-bar {
        width: 100%;
        height: 60px;
    }

    #menu{
        display: none;
    }

    /* THE SYMBOL */

    span {
        position: absolute;
        left: 0;
        top: -25px;
    }

    /* HOME PAGE */

    #home-btn {
        width: 240px;
    }

    /* MY PROJECTS */

    #project-btn {
        width: 240px;
    }

    /* EXPERIENCE PAGE */

    #exp-btn {
        width: 240px;
    }

    /* ABOUT ME */

    #about-btn {
        background-color: #FFCF96;
        width: 240px;
    }

    /* TEXT BOX */

    #aboutText {
        width: 270px;
    }

    /* LISTS ELEMENTS */

    ul {
        display: none;
    }

    ul li {
        display: block;
        margin: 20px;
        line-height: 30px;
    }

    a {
        font-weight: bold;
        font-size: 20pxpx;
    }

    /* MENU BAR */

    .menubar a:hover {
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    .menubtn {
        display: block;
        padding-top: 45px;
        padding-left: 20px;
    }

    #menu {
        width: 50%;
        height: 100vh;
        background-color: rgb(121, 167, 212);
        position: absolute;
        top: 80px;
        left: 0;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
    }
}